
        body {
            background-color: #121212;
            color: white;
        }
        .navbar, .table {
            background-color: #1f1f1f;
        }
        .nav-link, .navbar-brand {
            color: white;
        }
        .form-control, .btn-outline-secondary {
            background-color: #2c2c2c;
            color: white;
            border-color: #444;
        }
        .form-control::placeholder {
            color: #aaa;
        }
        .table-bordered th, .table-bordered td {
            border-color: #444;
        }
        .table-dark th {
            background-color: #2c2c2c;
            border-color: #444;
        }
        .table tbody tr td {
            color: white; /* Menambahkan warna putih untuk teks di tbody */
        }
        .btn-primary {
            background-color: #3a3a3a;
            border-color: #444;
        }
        .alert-warning {
            background-color: #4a4a1f;
            color: white;
            border-color: #665f1e;
        }
        .fa-edit {
            color: blue;
        }
        .fa-trash-alt {
            color: red;
        }
    table {
        width: 100%;
        border-collapse: collapse;
    }
    table tr {
        background-color: #000; /* Warna latar belakang hitam */
    }
    table td {
        color: #fff; /* Warna teks putih */
        padding: 8px;
        border: 1px solid #ddd; /* Opsional, untuk memberi garis pembatas */
    }
    table th {
        background-color: #333; /* Warna latar belakang header tabel */
        color: #fff; /* Warna teks header tabel */
        padding: 8px;
        border: 1px solid #ddd; /* Opsional, untuk memberi garis pembatas */
    }
    .add-data-icon {
        display: inline-block;
        width: 50px;
        height: 50px;
        background-color: #007bff;
        color: white;
        border-radius: 50%;
        text-align: center;
        line-height: 50px;
        font-size: 24px;
        text-decoration: none;
    }
    .add-data-icon:hover {
        background-color: #0056b3;
    }

    .form-label {
        color: white
    }